{{ define "feed" }}
<!-- home page -->
<ul id="feed__ul" class="h-feed">
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ $paginator := .Paginate $pages }}
    {{ range $paginator.Pages }}
    {{ if .Content }}
    {{ partial "li" . }}
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ define "footer" }}
<footer aria-label="Pie del sitio">
    {{ partial "pagination" . }}
	<a href="https://512kb.club"><img src="https://512kb.club/assets/images/green-team.svg" alt="Web miembro del equipo verde del 512KB club" /></a>
</footer>
{{ end }}