{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<section aria-label="Paginación">
    <ul class="pagination flex row">
        <li class="pag__item flex left">
            {{ if $pag.HasPrev }}
            <a href="{{ $pag.Prev.URL }}" class="pag__link">
                <span>&prec; más nuevo</span>
            </a>
            {{ end }}
        </li>
        <li class="pag__item flex right">
            {{ if $pag.HasNext }}
            <a href="{{ $pag.Next.URL }}" class="pag__link">
                <span>más viejo &succ;</span>
            </a>
            {{ end }}
        </li>
    </ul>
</section>
{{ end }}